.modal{
    position: fixed;
    top: 0;
    left: 0;
    &-dialog{
        position: relative;
        .close{
            font-size: 20px;
            font-weight: bold;
            color: white;
            cursor: pointer;
            position: absolute;
            right: 16px;
            top: 16px;
            z-index: 10;
        }
    }
    &-footer{
        padding: 16px;
        display: flex;
        gap: 20px;
    }
    input{
        &.address{
            color: #00D6FC;
            width: 300px;
        }
        &.amount{
            color: #00D6FC;
            width: 30px;
        }
    }
}