.header{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 32px;
  .mask{
    background: {
      image: url(../../styles/img/jungle.png);
      size: cover;
    };
    opacity: 0.45;
  }
  .titles{
      position: relative;
      text-align: left;
      h2{
        font-size: 42px;
        font-weight: normal;
      }
      h3{
        font-size: 42px;
        color: #00D6FC;
      }
  }
  .button-edition{
      display: flex;
      gap: 10px;
  }
}